/* Fondo general */
body{
    background: linear-gradient(to bottom, #0d0d1f, #1a1a40);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.7;
    max-width: 1200px;
    margin: auto;
}

/* Título principal */
h1{
    color: #4da6ff;
    text-align: center;
    font-size: 38px;
    text-shadow: 0 0 10px #4da6ff;
    margin-bottom: 20px;
}

/* Subtítulos */
h2{
    color: #66ccff;
    border-left: 5px solid #4da6ff;
    padding-left: 10px;
    margin-top: 35px;
}

/* Párrafos */
p{
    margin-bottom: 15px;
    font-size: 17px;
}

/* Texto */
strong{
    color: #99ddff;
}

em{
    color: #b3e6ff;
}

/* Línea */
hr{
    border: none;
    height: 2px;
    background: #4da6ff;
    margin: 30px 0;
}

/* Scroll */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #111;
}

::-webkit-scrollbar-thumb{
    background: #4da6ff;
    border-radius: 10px;
}

/* Canciones */
.cancion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.08);
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 15px;
    transition: 0.3s;
}

.cancion:hover{
    transform: scale(1.02);
    background-color: rgba(77,166,255,0.2);
}

.cancion p{
    font-size: 18px;
    font-weight: bold;
    color: #99ddff;
}

audio{
    width: 300px;
}

/* Galería de imágenes */
.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
    flex-wrap: wrap;
}

/* Imágenes */
.imagenes img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
    border: 3px solid #4da6ff;
    box-shadow: 0 0 25px rgba(77,166,255,0.8);
}

.youtube-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;   /* más grande */
    height: 80px;  /* más grande */
    border-radius: 50%;
    cursor: pointer;
}
